
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
   $(document).ready(function () {

        $("#btnEnviar").click(function () {
            $.ajax({
                url: '@Url.Action("CorreiosCalc","Vendas")',
                type: "GET",
                contentType: "Application/json",
                data: {cep:$("#txtCep").val() },
                suces

                },
                error: function (xhr, exception) {
                    alert("Erro ao calcular prazo!")
                }
            });
        })
    });
</script>
<h2>Vendas Correios</h2>
<div class="row">
    <div class="col-md-2">
        @Html.TextBox("txtCep", null, new { @class="form-control"})
    </div>
    <div class="col-md-2">
        <button class="btn btn-success"id="btnEnviar">Consultar</button>
    </div>
</div>

